<% if (query) { %> 
	<% if (query == "/campgrounds") { %>
		<h3 class="title-modern">You have <%= campgrounds.length %> campground <% if (campgrounds.length > 1) {%>s<% } %> listed</h3>
	<% } %>
	<% if (query == "/" || query == "/search"){ %>
		<h3 class="title-modern">There are <%= campgrounds.length %> available campgrounds</h3>
	<% } %>
	<% if (query != "/campgrounds" && query != "/" && query != "/search") { %>
		<h3 class="title-modern">There are <%= campgrounds.length %> campgrounds available in <span style="text-transform:capitalize"><%= query %></span></h3>
	<% } %>
<% } %>
<% campgrounds.forEach(function(campground){ %>
<a href="/campgrounds/<%= campground.id %>">
	<div class="column col-md-4 col-lg-4 col-sm-12 col">
		<!-- Post-->
		<div class="post-module">
		  <!-- Post Content-->
		  <div class="post-image" style="background-image:url('<%=campground.image%>')" data-src="%s">
		  	<!--<img class="spinner" src="spinner.gif"/>-->
		  </div>
		  <div class="post-content">
			<div class="category"><%= campground.location %></div>
			<h3 class="title">
				<% if (campground.name) {  %>
					<%= (campground.name).substr(0,18) %>
					<% if ((campground.name).length > 18) { %>
						<span>...</span>
					<% } %>	
				<% } %>	
			</h3>
			<h4 class="sub_title">
			<% if (campground.price > 0) {%>
					£<%= campground.price %> /night
				<% } else { %>
					Free Camping
				<% } %>
			</h4>
			<p class="description">
				<% if (campground.description) {  %>
					<%= (campground.description).substr(0,70) %>
					<% if ((campground.description).length > 70) {  %>
						<span>...</span>
					<% } %>
				<% } %>
			</p>
			<div class="post-meta">
				<!--span class="timestamp"><i class="fa fa-clock-">o</i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><span> 5 reviews</span-->
				<span class="comments">
				<!--round ratings-->
						<% function getRandomInt(min, max) { %>
						<%  return Math.random() * (max - min + 1) + min; %>
					<% } %>
				<!--randomiser to be replaced with actual value-->
					<% var value = getRandomInt(2.5, 3.9); %>
					<% for (var i =0; i < parseInt(value); i++){%>
						<i class="fa fa-star" aria-hidden="true" style="color:#e78b90"></i>
					<% } %>
					<% var valueModulo = value % parseInt(value) %>
					<% if (valueModulo > 0.5) { %>
						<i class="fa fa-star-half" aria-hidden="true" style="color:#e78b90"></i> 
					<% } %>
					<%= Math.floor(getRandomInt(10, 100)) %> reviews
				</span>
				
			</div>
			
		  </div>
		 <!-- <% if (query && query == "/campgrounds") { %>-->
			<!--	<div style="display:block"> logic to add edit and remove buttons deprecated-->
			<!--		<a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-danger btn-fill" style="color:#ffffff!important; padding-bottom:5px;">-->
			<!--			Edit-->
			<!--		</a>-->
			<!--		<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">-->
	  <!--                  <button class="btn btn-danger btn-fill">Remove this Campground</button>-->
	  <!--              </form>-->
	  <!--         </div>-->
			<!--<% } %>-->
		</div>
	</div>
</a>
<% }) %> 