<%include ../partials/header %>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="column col-lg-6 col-sm-12 col">
                <h3 style="title-modern">Edit <%= campgrounds.name %></h3>
                <form action="/campgrounds/<%= campgrounds._id  %>?_method=PUT" method="POST">
                    <div class="form-group">
                        <label for="name">Campground Name</label>
                        <input type="text" class="form-control" placeholder="name" name="campground[name]" value="<%= campgrounds.name %>"/>
                        <label for="img">Supply an image URL from the web</label>
                        <input type="url" class="form-control" name="campground[image]" placeholder="img" value="<%= campgrounds.image %>"/>
                        <label for="description">Describe the campground, in as much detail as you can</label>
                         <label for="price">Price per night</label>
                        <input type="text" class="form-control" name="campground[price]" placeholder="price" value="<%= campgrounds.price %>"/>
                        <textarea class="form-control" name="campground[description]" placeholder="description" onchange="this.form.submit()"><%= campgrounds.description %></textarea>
                        <label for="location">Which country is it in? e.g England</label>
                        <input type="text" class="form-control" name="campground[location]" placeholder="location" value="<%= campgrounds.location %>" />
                        <button class="btn btn-lg btn-danger btn-fill btn-block">Save</button>
                        <a href="/campgrounds/<%= campgrounds._id %>" class="btn btn-lg btn-block btn-primary">Go Back</a>
                    </div>
                </form>
            </div>  
            <%include ../partials/sidebars/editcampground.ejs %>
        </div>
    </div>
</div>

<%include ../partials/footer %>