<% include ../partials/header %>

<div class="section section-header presentation">
        <div class="parallax filter filter-color-red">
            <div class="image"
                style="background-image: url('assets/img/header-1.jpeg')">
            </div>
            <div class="container">
                <div class="content">
                    <div class="title-area">
                        <p>Your adventure starts here</p>
                        <h1 class="title-modern">YelpCamp</h1>
                        <!--h3>The worlds number one site for campgrounds worldwide</h3-->
                        <div class="separator line-separator">♦</div>
                        <p>Campground - Location - Adventure</p>
                    </div>
                    <% include ../partials/searchform %>
                </div>
            </div>
        </div>
    </div>

     <div class="section">
        <div class="container">
            <div class="row">
                <div class="title-area">
                    <h2>Our Services</h2>
                    <div class="separator separator-danger">✻</div>
                    <p class="description">We promise you a new look and more importantly, a new attitude. We build that by getting to know you, your needs and creating the best looking clothes.</p>
                </div>
            </div>

            <div class="row">
                <% campgrounds.forEach(function(campground){ %>
                    <div class="col-md-4">
                        <div class="info-icon thumbnail">
                            <a href="/campgrounds/<%= campground.id %>">
                                <img src="<%= campground.image %>" alt="<%= campground.name %>"/>
                                <h3><%= campground.name %></h3>
                                <p class="description"><%= campground.description %></p>
                            </a>
                        </div>
                    </div>
                <% }) %> 
            </div>
        </div>
    </div>

<% include ../partials/footer %>
