<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp</h1>
            <p> View our handpicked camp grounds</p>
            <!--p>
                <a class="btn btn-primary btn-large" href="/campgrounds/new">add new</a>
            </p-->
        </div>
    </header>
    
    <div class="row">
        <div class="col-lg-12" style="width:80%; margin:auto">
            <form action="/search" method="POST" style="">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search by Name" name="search" id="search" onfocusout="this.form.submit()" value="<%= search %>"/>
                    <button class="btn btn-primary btn-large" type="button" onclick="$('#search').val('');this.form.submit()" style="display:inline-block">Clear</button>
                </div>
                <!--button type="submit" class="btn btn-default">Submit</button document.getElementById('search').value(search) -->
            </form>
        </div>
    </div>

    <div class="row" style="display:flex; flex-wrap:wrap">
        <div class="col-lg-12">
            <% if (campgrounds){ %>
                <% campgrounds.forEach(function(campground){ %>
                <div class="col-md-6 col-sm-6 col-lg-4">
                    <div class="thumbnail">
                        <a href="/campgrounds/<%= campground.id %>">
                            <img src="<%= campground.image %>" alt="<%= campground.name %>"/>
                            <div class="caption">
                                <h4><%= campground.name %></h4>
                            </div>
                        </a>
                    </div>
                </div>
            <% }) %>
            <% } else { %>
                <div class="col-md-6 col-sm-6 col-lg-4">
                    <h4>No campgrounds</h4>
                </div>
            <% } %>
        </div>
    </div>

</div>

<% include ../partials/footer %>
