<% include ../partials/header %>

<div class="section section-header presentation">
        <div class="parallax filter filter-color-red">
            <div class="image"
                style="background-image: url('assets/img/header-1.jpeg')">
            </div>
            <div class="container">
                <div class="content">
                    <div class="title-area">
                        <p>Your adventure starts here</p>
                        <h1 class="title-modern">YelpCamp</h1>
                        <!--h3>The worlds number one site for campgrounds worldwide</h3-->
                        <!--div class="separator line-separator">✻</div-->
                        <p>Campground ✻ Location ✻ Adventure</p>
                    </div>
                    <% include ../partials/searchform %>
                </div>
            </div>
        </div>
    </div>
	
<div class="section">
    <div class="card-container container">
	 <!-- Normal Demo-->
	 	<h2>Campgrounds</h2>
		<% campgrounds.forEach(function(campground){ %>
		<a href="/campgrounds/<%= campground.id %>">
			<div class="column col-md-4 col-lg-4 col-sm-12 col">
				<!-- Post-->
				<div class="post-module">
				  <!-- Post Content-->
				  <div class="post-image">
				 	 <img src="https://a0.muscache.com/im/pictures/35160f66-b323-4cd7-b3c5-38c977569592.jpg?aki_policy=large" alt="<%= campground.name %>" style="width:100%"/> 
				  </div>
				  <div class="post-content">
					<div class="category"><%= campground.location %></div>
					<h3 class="title">
						<% if (campground.name) {  %>
							<%= (campground.name).substr(0,18) %>
							<% if ((campground.name).length > 18) {  %>
								<span>...</span>
							<% } %>	
						<% } %>	
					</h3>
					<h4 class="sub_title">£12 per night</h4>
					<p class="description">
						<% if (campground.description) {  %>
							<%= (campground.description).substr(0,70) %>
							<% if ((campground.description).length > 70) {  %>
								<span>...</span>
							<% } %>
						<% } %>
					</p>
					<div class="post-meta">
						<span class="timestamp"><i class="fa fa-clock-">o</i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><span> 5 comments</span>
					</div>
				  </div>
				</div>
			</div>
		</a>
		<% }) %> 
	</div>
</div>
<!--    </div>-->
<!--</div>-->


<% include ../partials/footer %>
