<% include ../partials/header %>
<div class="container campground-show">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <ul class="list-group-item">
                <li class="list-group-item active">info 2</li>
                <li class="list-group-item">info 2</li>
                <li class="list-group-item">info 2</li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="box">
                <div class="image-container" style="background-image:url('<%= campground.image %>')"></div>
                <div class="caption-full box-content">
                    <h4 class="pull-right">$9/night</h4>
                    <h4><a><%= campground.name %></a></h4>
                    <p><%= campground.description %> </p>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success">Leave a Review</a>
                </div>
                <% campground.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="comment-author"><%= comment.author %></span>
                            <span class="pull-right">10 days</span>
                            <p class="comment-text">
                                <%= comment.text %>
                            </p>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>

