<% include ../partials/header %>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 sidebar cold-md-12 col-sm-12">
                <ul class="nav nav-sidebar">
                    <li class="list-group-item active">info 2</li>
                    <li class="list-group-item">info 2</li>
                    <li class="list-group-item">info 2</li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li class="list-group-item"> <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-danger btn-fill">Edit this Campground</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li class="list-group-item"> 
                        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger btn-fill">Remove this Campground</button>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="column col-lg-8 col-sm-12 col">
                <div class="thumbnail" style="background-image:url('<%= campground.image %>'); height:426px; width:639px;background-size:100%"></div>
                <div class="caption-full box-content">
                    <h4 class="pull-right">$9/night</h4>
                    <h4><a><%= campground.name %></a></h4>
                    <p><%= campground.description %> </p>
                </div>
                <div class="text-right">
                    <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success btn-fill">Leave a Review</a>
                </div>
                <% campground.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="comment-author"><%= comment.author.username %></span>
                            <span class="pull-right">10 days</span>
                            <p class="comment-text">
                                <%= comment.text %>
                            </p>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>

